Repository godotengine/godot-vscode-plugin, pull requests merged in 2025-02, with the labels that each got.

#788 Implement Godot-in-the-loop test suite and fix debugger errors
  .github/workflows/ci.yml
  .gitignore
  .vscode-test.js
  .vscode/extensions.json
  .vscode/launch.json
  package-lock.json
  package.json
  src/debugger/godot4/debug_session.ts
  src/debugger/godot4/debugger_variables.test.ts
  src/debugger/godot4/helpers.ts
  src/debugger/godot4/server_controller.ts
  src/debugger/godot4/variables/variants.ts
  src/debugger/scene_tree_provider.ts
  src/formatter/formatter.test.ts
  src/scene_tools/types.ts
  test_projects/test-dap-project-godot4/.vscode/launch.json
  test_projects/test-dap-project-godot4/BuiltInTypes.gd
  test_projects/test-dap-project-godot4/BuiltInTypes.tscn
  test_projects/test-dap-project-godot4/ExtensiveVars.gd
  test_projects/test-dap-project-godot4/ExtensiveVars.tscn
  test_projects/test-dap-project-godot4/ExtensiveVars_Label.gd
  test_projects/test-dap-project-godot4/GlobalScript.gd
  test_projects/test-dap-project-godot4/Node1.gd
  test_projects/test-dap-project-godot4/NodeVars.gd
  test_projects/test-dap-project-godot4/NodeVars.tscn
  test_projects/test-dap-project-godot4/ScopeVars.gd
  test_projects/test-dap-project-godot4/ScopeVars.tscn
  test_projects/test-dap-project-godot4/TestClassA.gd
  test_projects/test-dap-project-godot4/project.godot
  tsconfig.json
Labels: bug, debugger

#783 More Highlighting and Formatting Improvements
  src/formatter/snapshots/operators.gd
  src/formatter/snapshots/setters_getters.gd
  syntaxes/GDScript.tmLanguage.json
Labels: bug, formatter

#800 Add region block as a language grammar scope
  syntaxes/GDScript.tmLanguage.json
Labels: enhancement
